.poke-list-card {
    height: auto;
}
.poke-foto{
    width: 8vh;
    height: auto;
}
/* .actions-column {
    display: none;
} */
.list-withOut-padding{
    padding: 0;
}
.mini-text{
    display: none;
}
.color-fav{
    color: red;
}

@media (max-width: 768px) {
    .actions-column {
        display: none;
    }
   .mat-mdc-paginator-page-size{
    display: none !important
   }
   .mini-text {
    display: block;
    font-size: 8px;
   }
}
.custom-pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}